.color-container {
  width: 330px;
  padding-top: 91px;
  margin: 0 auto;
}
.right {
  float: right;
}
.left {
  float: left;
}
p {
  clear: both;
  padding-top: 1em;
}
.color-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  background: #eee;
  padding: 5px;
  width: 143px;
  min-height: 1.5em;
  font-size: 0.85em;
}
.color-list li {
  /* margin: 5px; */
  padding: 5px;
  font-size: 1.2em;
  width: 120px;
}
.color-list li.placeholder {
  height: 1.2em;
}
.color {
  border: 1px solid #bbb;
  /* background-color: #fafafa; */
}
.bg-red {
  background-color: red;
}
.bg-green {
  background-color: green;
}
.bg-yellow {
  background-color: yellow;
}
.bg-blue {
  background-color: blue;
}
.bg-aqua {
  background-color: aqua;
}
.color.ui-sortable-helper {
  opacity: 0.5;
}
.placeholder {
  border: 1px solid orange;
  background-color: #fffffd;
}
